@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(../fonts/style.css);

/* Nefunguje
--------------
@media only screen and (min-width: 400px) {
    body {
        background-attachment: scroll;
    }
  }
*/

@keyframes load {
    from {
            opacity: 0;
            transform: translateY(-100%);
            transition: transform 1s, opacity 1s;
    }
    to {opacity: 100%;}
  }

@keyframes load__rotate {
    from {
            rotate: 180deg;
    }
    to {
        rotate: 0;
    }
}

.zoom:hover {
    transform: scale(1.2);
    box-shadow: 0px 5px 5px grey;
    transition: transform 0.1s;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../images/bg-transformed.webp);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: larger;
    font-weight: bolder;
}

span {
    margin-bottom: 5px;
    font-size: x-large;
    font-weight: bolder;
    margin-right: 2%;
}

.content__box {
    display: flex;
    margin: 5%;
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    overflow-x: auto;
}

.card {
    display: inline-block;
    background-color: white;
    height: auto;
    width: 300px;
    max-width: 500px;
    min-width: 280px;
    box-shadow: 2px 2px 5px grey;
    margin: 0.5em;
    margin-top: 5em;
    animation-name: load;
    animation-duration: 2s;
}

.card__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;

    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.card__content {
    margin: 5%;
    overflow: hidden;
}

.card__img__wrapper {
    border-radius: 50%;
    border: 2px;
    border-style: solid;
    border-color: white;
    overflow: hidden;

    box-shadow: 0 2px 5px grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30%;

    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    
    animation-name: load__rotate;
    animation-duration: 2s;
}

.icon-mobile {
    color: darkred;
}

.card__img {
    width: 100%;
    height: auto;
    object-fit:cover;
    object-position:top;
}